<!-- signup.component.html -->
<div class="container" style="background-color: #f8f9fa;">
    <h2>Agregar nuevo Usuario</h2>
    <form  #signupForm="ngForm">
      <div class="mb-3">
        <label for="username" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
        <div *ngIf="signupForm.submitted && signupForm.controls['username'].invalid" class="text-danger">Username is required</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
        <div *ngIf="signupForm.submitted && signupForm.controls['password'].invalid" class="text-danger">Password is required</div>
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-control" id="role" [(ngModel)]="role" name="role" required>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Signup</button>
      <div *ngIf="signupForm.submitted && signupForm.invalid" class="text-danger">Campos vacios</div>
    </form>
</div>
